.images-list {
    display: grid;
    grid-template-columns: 1fr;
    justify-content: start;
    gap: 5px;
}

.images-list__empty {
    padding: 10px;
    font-style: italic;
    opacity: .7;
}

@media screen and (min-width: 576px) {
    .images-list {

    }
}

@media screen and (min-width: 992px) {
    .images-list {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media screen and (min-width: 1200px) {
    .images-list {
        grid-template-columns: repeat(3, 1fr);
    }
}
