.app {
    display: grid;
    grid-template-columns: 1fr;
    gap: 10px;
    margin: 10px auto 0;
    padding-left: 15px;
    padding-right: 15px;
}

@media screen and (min-width: 576px) {
    .app {
        width: 540px;
    }
}

@media screen and (min-width: 768px) {
    .app {
        width: 750px;
        grid-template-columns: 1fr 1fr;
    }
}

@media screen and (min-width: 992px) {
    .app {
        width: 970px;
        grid-template-columns: 1fr 2fr;
    }
}

@media screen and (min-width: 1200px) {
    .app {
        width: 1170px;
        grid-template-columns: 1fr 3fr;
    }
}

