.image-block {
    display: block;
    border: 2px solid transparent;
    border-radius: 5px;
    outline-color: transparent;
    height: 67vw;
    background: no-repeat center center;
    background-size: contain;
}

.image-block:hover {
    cursor: pointer;
}

.image-block--chosen {
    border-color: #3f51b5;
    opacity: .7;
}

@media screen and (min-width: 576px) {
    .image-block {
        width: 540px;
        height: 360px;
    }
}

@media screen and (min-width: 768px) {
    .image-block {
        width: 450px;
        height: 300px;
    }
}

@media screen and (min-width: 992px) {
    .image-block {
        width: 300px;
        height: 200px;
    }
}

@media screen and (min-width: 1200px) {
    .image-block {
        width: 270px;
        height: 180px;
    }
}
